:root.theme-dark {
    --bg-image: url("../images/cover-image-dark.png");
    --bg-color: #000028;
    --accent-color: rgba(255, 0, 112, 1);
    --button-hover-color: rgba(255, 0, 112, 0.4);
    --main-heading-color: #DB00FF;
    --title-color: rgba(0, 0, 40, 1);
    --article-color: rgba(241, 178, 206, 1);
}