.page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: var(--font);
    font-weight: var(--light);
    font-size: var(--text-font-size);
    background-image: var(--bg-image);
    background-color: var(--bg-color);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: var(--padding-side);
    padding-bottom: 0;
}

.header {
    display: grid;
    grid-template-rows: min-content 0.8fr min-content 1fr;
    /* justify-items: center; */
    justify-self: center;
    /* align-items: center; */
    align-self: center;
    height: 100vh;
    min-height: 668px;
    width: 100%;
    position: relative;
}

.record-icon {
    justify-self: flex-end;
    color: var(--accent-color);
    margin-right: 28px;
    margin-top: 3px;
}

.record-icon::after {
    content: '';
    width: 11px;
    height: 11px;
    background-color: var(--accent-color);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.decorative-corners::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    top: 0;
    right: 0;
}

.decorative-corners::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
    left: 0;
    bottom: calc(var(--padding-side) * 2);
}

h1 {
    line-height: 83%;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    color: var(--main-heading-color);
    margin-top: 3%;
    text-shadow: 4px 4px 0 var(--accent-color);
}

.title {
    background-color: var(--accent-color);
    inline-size: 355px;
    color: var(--title-color);
    font-weight: var(--bold);
    margin-bottom: 6%;
}

.main-heading-footer {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-weight: var(--bold);
    color: var(--main-heading-color);
    text-shadow: 2px 2px 0 var(--accent-color);
}

.title-text {
    font-size: var(--text-font-size);
    max-inline-size: 90%;
    line-height: 24px;
}

a {
    text-shadow: 2px 2px 0 var(--accent-color);
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    border-bottom: 1px solid currentColor;
}

a:focus {
    outline: none;
    border: 1px solid var(--article-color);
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 668px;
}

.footer::before {
    top: var(--padding-side);
}

.footer::after {
    bottom: var(--padding-side);
}

@media (width >= 768px) {
    :root {
        --padding-side: 20px;
        --image-gap: 10px;
  }

    .page {
        gap: 40px;
    }

    .header__theme-menu {
        margin-top: 20%;
    }

    h1 {
        justify-self: flex-start;
        margin-left: calc(-1 * var(--padding-side));
        margin-top: 5%;
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .main {
        gap: 90px;
    }

    .main-heading-footer {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
    .title {
        justify-self: flex-end;
        inline-size: 364px;
    }
    .article-section:nth-child(odd) {
        grid-template-columns: 0.98fr 2fr;
    }

    .article-section:nth-child(even) .article-heading {
        max-inline-size: 20%;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery-image:nth-child(1) {
        grid-column: span 2;
    }

    .gallery-image:nth-child(2) {
        grid-column: 3;
        grid-row: 1 / 3;
    }

    .gallery-image:nth-child(3) {
        grid-column: 1;
        grid-row: span 3;
    }

    .gallery-image:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }

    .gallery-image:nth-child(5) {
        grid-column: 2 / 4;
        grid-row: 3;
    }
}

@media (width >= 1024px) {
    .header {
        grid-template-rows: repeat(3, 1fr);
    }

    h1 {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        margin-top: 0;
        margin-bottom: 4%;
        grid-column: 1;
        grid-row: 2;
    }

    .record-icon {
        align-self: flex-start;
        grid-column: 1;
        grid-row: 1;
    }

    .header__theme-menu {
        justify-self: center;
        align-self: flex-start;
        grid-column: 1;
        grid-row: 1;
        margin-top: 0;
    }

    .header__theme-menu-list {
        flex-direction: row;
        justify-content: space-between;
    }

    .title-text {
        max-inline-size: 100%;
    }

    .title {
        margin-top: 3%;
        inline-size: 491px;
        grid-column: 1;
        grid-row: 3;
        align-self: flex-start;
    }
    .article-section:nth-child(odd) {
        grid-template-columns: 0.97fr 2fr;
    }

    .article-section:nth-child(even) .article-heading {
        max-inline-size: 30%;
    }

    .article-section:nth-child(even) .articles-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}