.page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: var(--font);
    font-weight: var(--light);
    font-size: var(--text-font-size);
    background-image: var(--bg-image);
    background-color: var(--bg-color);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: var(--padding-side);
    padding-bottom: 0;
}

.header {
    display: grid;
    grid-template-rows: min-content 0.8fr min-content 1fr;
    justify-self: center;
    align-self: center;
    height: 100vh;
    min-height: 668px;
    width: 100%;
    position: relative;
}

.decorative-corners::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    top: 0;
    right: 0;
}

.decorative-corners::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
    left: 0;
    bottom: calc(var(--padding-side) * 2);
}

.record-icon {
    justify-self: flex-end;
    color: var(--accent-color);
    margin-right: 28px;
    margin-top: 3px;
}

.record-icon::after {
    content: '';
    width: 11px;
    height: 11px;
    background-color: var(--accent-color);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
    margin-top: 10%;
    align-self: flex-start;
    justify-self: flex-end;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-button {
    min-inline-size: 70px;
    background-color: transparent;
    color: var(--accent-color);
    border: none;
    text-transform: lowercase;
}

.header__theme-menu-button:hover {
    border: 0.5px solid var(--button-hover-color);
}

h1 {
    line-height: 83%;
    font-size: var(--logo-size);
    color: var(--main-heading-color);
    margin-top: 15%;
    margin-bottom: 13%;
    text-shadow: 4px 4px 0 var(--accent-color);
}

.title__title-description {
    grid-row:3;
    justify-self: center;
    align-self: end;
    text-align: left;
    margin-bottom: 78px;
    max-width:355px;
    white-space:pre-line;
}

.main {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    justify-items: center;
    gap: 56px;
}

.article-section {
    display: grid;
    grid-template-rows: fit-content 1fr;
    gap: 20px;
}

.article-section__heading {
    font-size: var(--text-font-size);
    color: var(--accent-color);
}

.heading-size {
    max-inline-size: 90%;
}

.article-section__container {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.article-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.article-block_position {
    margin-top: 10px;
}

.article-block_gap {
    gap: 10px;
}

.article-block__heading {
    inline-size: 100%;
    background-color: var(--accent-color);
    color: var(--title-color);
    font-size: var(--text-font-size);
}

.advice-heading {
    font-weight: var(--light);
}

.article-block__description {
    color: var(--article-color);
    line-height: 23px;
}

.gallery-section {
    display: flex;
    flex-direction: column;
    gap: var(--image-gap);
}

.gallery {
    display: grid;
    margin: 0 calc(-1 * var(--image-gap)) 0 calc(-1 * var(--image-gap));
}

.gallery-image {
    margin: var(--image-gap);
    object-fit: cover;
}

.image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.main-heading-footer {
    font-size: var(--logo-size);
    font-weight: var(--bold);
    color: var(--main-heading-color);
    text-shadow: 2px 2px 0 var(--accent-color);
}

a {
    text-shadow: 2px 2px 0 var(--accent-color);
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    border-bottom: 1px solid currentColor;
}

a:focus-visible {
    outline: none;
    border: 1px solid var(--article-color);
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 668px;
}

.footer::before {
    top: var(--padding-side);
}

.footer::after {
    bottom: var(--padding-side);
}

.header__theme-menu-button_active {
    pointer-events: none;
    border: 1px solid currentColor;
}

.header__theme-menu-button:focus-visible {
    outline: none;
    border: none;
    border-bottom: 0.5px solid currentColor;
}

@media (width >= 768px) {
    :root {
        --padding-side: 20px;
        --image-gap: 10px;
  }

    .page {
        gap: 40px;
    }

    .header__theme-menu {
        margin-top: 20%;
    }

    h1 {
        justify-self: flex-start;
        margin-left: calc(-1 * var(--padding-side));
        margin-top: 15%;
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .main {
        gap: 80px;
    }

    .main-heading-footer {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .title__title-description {
        justify-self: end;
        margin-bottom: 204px;
        max-width: min(364px, 50%);
    }

    .article-section:nth-child(odd) {
        grid-template-columns: 0.98fr 2fr;
    }

    .article-section:nth-child(even) .article-section__heading {
        max-inline-size: 30%;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery-image:nth-child(1) {
        grid-column: span 2;
    }

    .gallery-image:nth-child(2) {
        grid-column: 3;
        grid-row: 1 / 3;
    }

    .gallery-image:nth-child(3) {
        grid-column: 1;
        grid-row: span 3;
    }

    .gallery-image:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }

    .gallery-image:nth-child(5) {
        grid-column: 2 / 4;
        grid-row: 3;
    }
}

@media (width >= 1024px) {
    .header {
        grid-template-rows: repeat(3, 1fr);
    }

    h1 {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        margin-bottom: 0;
        margin-top: 44px;
        grid-column: 1;
        grid-row: 2;
    }

    .record-icon {
        align-self: flex-start;
        grid-column: 1;
        grid-row: 1;
    }

    .header__theme-menu {
        justify-self: center;
        align-self: flex-start;
        grid-column: 1;
        grid-row: 1;
        margin-top: 0;
    }

    .header__theme-menu-list {
        flex-direction: row;
        justify-content: space-between;
    }

    .title__title-description {
        max-width:min(491px, 100%);
        margin-bottom:154px;
    }

    .article-section_content {
        grid-template-columns: 0.97fr 2fr;
    }

    .article-section_content .article-section__heading {
        max-inline-size: none;
    }

    .article-section_grid .article-section__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}