:root {
    --bg-color: #000028;
    --bg-image: url("../images/cover-image-dark.png");
    --accent-color: rgba(255, 0, 112, 1);
    --padding-side: 10px;
    --text-font-size: 18px;
    --article-color: rgba(241, 178, 206, 1);
    --button-hover-color: rgba(255, 0, 112, 0.4);
    --main-heading-color: #DB00FF;
    --title-color: rgba(0, 0, 40, 1);
    --bold: 700;
    --light: 400;
    --font: IBM Plex mono, monospace;
    --image-gap: 3px;
     --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}